:root {
    --bg-primary: rgb(4, 10, 25);
    --bg-secondary: #1e293b;
    --text-primary: #e2e8f0;
    --text-secondary: #94a3b8;
    --text-disabled: #292d32;
    --accent-primary: #3b82f6;
    --accent-secondary: #1d4ed8;
    --disabled: #071231;
    --danger: #ef4444;
    --success: #22c55e;
    --border-radius: 12px;
    
}


*::-webkit-scrollbar {
    background-color: transparent;
    scrollbar-width: thin;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--bg-secondary);
    border-radius: 5px;
}

textarea {
    resize: none;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: var(--bg-primary);
    color: var(--text-primary);
    min-height: 100vh;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    
}
.signed-out-message {
    padding: 10px 10px;
    border: 2px solid #6c3737;
    border-radius: 5px;
    text-align: center;
    opacity: 80%;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
    max-height: 100%;
    overflow: hidden;
    position: relative;
}

.topnav {
    background: var(--bg-secondary);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    height: 7%;
}

.topnav-left {
    display: flex;
    align-items: center;
}
.user-button {
    font-size: 10px;
    padding: 10px 10px;
}

.page-title h3 {
    font-size: 1.5rem;
    font-weight: 600;
    background: linear-gradient(to right, #3b82f6, #2dd4bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.master {
    display: grid;
    
    gap: 2rem;
    max-height: 93vh;
    transition: all 0.5s;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}



.master.active {
    grid-template-columns: 0% 100%;
    grid-column-start: 2;
    
}

.sidebar {
    width: 100%;
    top: 0;
    opacity: 100;
    max-height: 80vh;
    padding: 1.0rem;
    background: #fff;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    transition: left 0.3s ease;
    z-index: 999;
    background: var(--bg-primary);
    overflow: hidden;
    white-space: normal;
    
    
} 

.sidebar.active {
    opacity: 0;
    
}

@media (orientation: landscape) {
    .master {
        grid-template-columns: 30% 70%;
    }
    .sidebar.active {
        transition: all 0.25s;
    }

    .master.active {
        transition: all 0.5s;
        transition-delay: 0.25s;
    }
    .sidebar {
        transition: all 0.25s;
        transition-delay: 0.5s;
    }
}
  
  @media (orientation: portrait) {
    .master {
        grid-template-rows: 100% 0%;
    }
    .sidebar.active {
        transition: 0;
    }
    .master.active {
        transition: 0;
        transition-delay: 0;
        gap: 0rem;
        
    }
    .sidebar {
        transition: 0;
        position: relative;
        
    }
}

.search-results {
    height:60vh;
    display: grid;
    gap: 1rem;
    overflow-y: scroll;
    padding-right: 1rem;
    padding-bottom: 30vh;
}



.main {
    background: var(--bg-primary);
    padding-top: 1rem;
    padding-left: 1rem;
    border-radius: var(--border-radius);
    max-height: 70vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 0.5rem;
}

.main.hidden {
    visibility: hidden;
}

button {
    background: var(--accent-primary);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s;
}

button:hover {
    background: var(--accent-secondary);
}

button:active  {
    transform: translateY(-2px);
}

button:disabled  {
    background-color: var(--disabled);
    opacity: 60%;
    color: var(--text-disabled);
}

button.secondary {
    background: transparent;
    border: 1px solid var(--accent-primary);
    color: var(--accent-primary);
}
button.secondary:disabled  {
    background-color: var(--disabled);
    border: none;
    color: var(--text-disabled);
}

button.secondary:hover {
    background: rgba(59, 130, 246, 0.1);
}

button.dangerous {
    background: transparent;
    border: 1px solid var(--danger);
    color: var(--danger);
}

button.dangerous:hover {
    background: rgba(246, 59, 81, 0.1);
    
}

input[type="text"], input[type="search"] {
    width: 100%;
    padding: 0.75rem 1rem;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: var(--text-primary);
    margin-bottom: 1rem;
    font-size: 0.95rem;
    transition: all 0.2s;
}

input[type="text"]:focus, input[type="search"]:focus {
    outline: none;
    border-color: var(--accent-primary);
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.2s;
}

.quiz-title {
    font-size: 1.5rem;
}

.quiz-info-div {
    color: var(--text-secondary);
    font-size: 16px;
    
}

.quiz-settings {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
   
}

.settings-button {
    width: 50%;
    font-size: 13px;
}

.termParent {
    overflow-y: scroll;
    padding-right: 1rem;
    padding-top:1rem;
    padding-left:1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--bg-secondary);
    
    border-radius: var(--border-radius);
}





.add-entry {
    width: 100%;
    background: transparent;
    border: 2px dashed rgba(255, 255, 255, 0.1);
    color: var(--text-secondary);
}

.add-entry:hover {
    background: rgba(255, 255, 255, 0.05);
    border-color: var(--accent-primary);
    color: var(--accent-primary);
}

@media (max-width: 768px) {
    .master {
        grid-template-columns: 1fr;
    }
}

.search-result {
    background: var(--bg-secondary);
    border-radius: var(--border-radius);
    padding: 1.5rem;
    border: 2px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    max-height: fit-content;
}

.search-result:hover {
    border: 2px solid var(--accent-primary);
    transition: all 0.2s;
}

.search-result:active  {
    transform: translateX(5px);
    transition: all 0.2s;
}


.term-definition-div {
    width: 100%;
    display: flex;
    
    gap: 2%;
    margin-bottom: 1rem;
    align-items: flex-start;
    
    
}
@media (orientation: landscape) {
    .term-definition-div {
        flex-direction: row;
    }
    .removebutton {
        width: auto;
    }
    .termParent {
        gap: 0.2rem;
    }
}
  
@media (orientation: portrait) {
    .term-definition-div {
        flex-direction: column;
        gap: 0.5rem;
    }
    .removebutton {
        width: 100%;
    }
    .termParent {
        gap: 2rem;
    }
}

.input-box {
    
    padding: 0.75rem 1rem;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: var(--text-primary);
    font-size: 0.95rem;
    resize: none;
    transition: all 0.2s;
    font-size: 15px;
    width: 100%;
}

.input-box:focus {
    outline: none;
    border-color: var(--accent-primary);
    background: rgba(255, 255, 255, 0.1);
}

.removebutton {
    border: 1px solid var(--danger);
    background: transparent;
    color: var(--danger);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    height:40px;
    text-align: center;
}

.removebutton:hover {
    background: rgba(239, 68, 68, 0.1);
}

.burger-icon {
    width: 30px;
    height: 20px;
    left: 0px;
    position: relative;
    animation-delay: 10s;
    cursor: pointer;
    z-index: 1000;
    transition: left 0.3s ease;
}


.burger-icon.active {
    left: 165px;
    transition: left 0.3s ease;
}

