html {
    font-family: Segoe UI;
}

textarea {
    resize: none;
    overflow: hidden;
    text-align: center;
    font-family: Segoe UI;
    font-size: 14px;
}

input {
    resize: none;
    overflow: hidden;
    text-align: center;
    font-family: Segoe UI;
    font-size: 14px;
}

.page-title {
    position:relative;
    float: center;
    font-weight: 700;
}

.sidebar {
    height: 100%;
    width: 20%;
    z-index: 1;
    left:0;
    border-right: 0 0 0 5px gray;
    padding-top: 20px;
}

.main {
    border: none;
    border-radius: 15px;
    padding: 30px 30px;
    box-shadow: 0 0 0 1px gray;
    width: 50%;
    max-width: 640px;
}

.topnav {
    overflow: hidden;
    box-shadow: 0 5px 8px gray;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.userinfo {
    text-align: right;
    width: 50%;
    padding-right: 50px;
    font-size: 20px;
}


.page-title {
    text-align: left;
    width: 50%;
    padding-left: 50px;
    font-weight: 600;
    font-size: 20px;
}



.master {

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: left;
    height: 640px;
    width: 100%;
    align-items: stretch;
    padding-top: 10px;
    padding-left: 10px;
}

.quiz-title {
    width: 80%;
    text-align: center;
    padding: 2px 10px;
    border: none;
    border-bottom: 2mm ridge rgba(156, 210, 248, 0.6);
    outline: none;
    font-size: 30px;
    font-weight:500;
}

.quiz-title-div {
    text-align: center;
    padding-bottom: 15px;
}

.quiz-info-div {
    text-align: center;
    padding-bottom: 10px;
}

.termParent {
    width: 100%;
    text-align: center;
}



.input-box {
    border: none;
    text-align: top;
    width: 40%;
    border-bottom: 2px solid rgb(218, 218, 218);
    padding: 5px 5px;
    outline-color: transparent;
    transition: all 0.1s ease-out;
    
}

.input-box:hover {
    border-bottom: 2px solid rgb(218, 218, 218);
    transition: all 0.1s ease-in;
}

.input-box:focus {
    border-bottom: 2px solid cornflowerblue;
    transition: all 0.2s ease-in;
}

.quiz-settings {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.settings-button {
    padding: 5px 5px;
    border: 1px solid white;
    border-radius: 5px;

    width: 30%;
    transition: all 0.5s ease-out;
}
.play {
    background-color: rgb(213, 255, 225);
    transition: all 0.5s ease-out;
}
.play:hover {
    background-color: rgb(151, 255, 163);
    transition: all 0.1s ease-in;
}

.play:active {
    border: 1px solid black;
    transition: all 0.1s ease-in;
}
.save {
    background-color: rgb(255, 206, 206);
    transition: all 0.1s ease-out;
}
.save:hover {
    background-color: rgb(255, 173, 173);
    transition: all 0.1s ease-in;
}
.save:active {
    border: 1px solid black;
    transition: all 0.1s ease-in;
}
.removebutton {
    border: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
    transition: all 0.1s ease-out;

}

.removebutton:hover {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 4px;

    transition: all 0.1s ease-out;
}

.removebutton:active {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;

    transition: all 0.1s ease-out;
}

.term-definition-div {
    padding-left: 20px;
    padding-block: 10px;
}




.add-entry-div {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.add-entry {
    width: 61%;
    background-color: transparent;
    border: 2px dotted rgb(165, 165, 165);
    padding: 5px 5px;
    border-radius: 5px;
    transition: all 0.1s ease-out;
}
.add-entry:hover {
    background-color: transparent;
    border: 2px solid rgb(24, 24, 24);
    transition: all 0.1s ease-in;
}
.add-entry:active {
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(24, 24, 24);
    transition: all 0.1s ease-in;
}


.search-result-name {
    font-weight: 700;
}

.search-result-creator {
    font-weight: 200;
}

.search-results {
    padding-top: 10px;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    gap: 20px;
}

.search-result {
    background-color: rgb(255, 255, 255);
    transition: all 0.5s ease-out;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 10px;
}
.search-result:hover {
    background-color: rgb(216, 216, 216);
    transition: all 0.1s ease-in;
}

.search-result:active {
    border: 1px solid rgb(255, 255, 255);
    transition: all 0.1s ease-in;
}

.search_bar {
    border: none;
    text-align: top;
    width: 60%;
    border: 2px solid rgb(218, 218, 218);
    border-radius: 5px;
    outline-color: transparent;
    transition: all 0.1s ease-out;
    height: 6%;    
}

.search_bar:hover {
    border-bottom: 2px solid rgb(218, 218, 218);
    transition: all 0.1s ease-in;
}

.search_bar:focus {
    border-bottom: 2px solid cornflowerblue;
    transition: all 0.2s ease-in;
}



.search_button {
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 5px;
    height: 6%;
    width: 33%;
    transition: all 0.1s ease-out;
}
.search_button:hover {
    background-color: rgb(255, 224, 250);
    transition: all 0.1s ease-in;
}
.search_button:active {
    border: 1px solid black;
    transition: all 0.1s ease-in;
}



.new_quiz_button {
    background-color: rgb(255, 211, 211);
    border: 1px solid gray;
    border-radius: 5px;
    height: 6%;
    width: 100%;
    transition: all 0.1s ease-out;
    font-weight: 600;
    font-size: 15px;
}
.new_quiz_button:hover {
    background-color: rgb(255, 224, 250);
    transition: all 0.1s ease-in;
}
.new_quiz_button:active {
    border: 1px solid black;
    transition: all 0.1s ease-in;
}


.userinfo {
    float:right;
}
.profilebutton {
    background-color: rgb(255, 255, 255);
    transition: all 0.5s ease-out;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 15px;
}
.profilebutton:hover {
    background-color: rgb(216, 216, 216);
    transition: all 0.1s ease-in;
}

.profilebutton:active {
    border: 1px solid rgb(255, 255, 255);
    transition: all 0.1s ease-in;
}