<!DOCTYPE html>
<html lang="en">
<title>Quizzeration</title>
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" type="text/css" href="\static\css\main.css">
    <script src="\static\js\login.js" type="module"></script>
    <script type="module">
        
    </script>
</head>


<body>
    <input type="text" class="emailInput">
    <input type="text" class="passwordInput">
    <button type="button" id="signupButton">Sign Up</button>

    <input type="text" class="login_emailInput">
    <input type="text" class="login_passwordInput">
    <button type="button" id="loginButton">Log in</button>

    
</body>